image: Visual Studio 2017

install:
- appveyor version
- ps: (New-Object Net.WebClient).DownloadString('https://www.appveyor.com/tools/my-ip.aspx').Trim()
- ps: |
    if ((test-path "C:\Program Files (x86)\Microsoft Visual Studio\2019") -or (test-path "C:\Program Files\Microsoft Visual Studio\2022")) {
       $lines = Get-Content 'SimpleApp.sln'
       $lines[2] = '# Visual Studio Version 16'
       $lines | Set-Content 'SimpleApp.sln'
    }

#- ping api.nuget.org

#shallow_clone: true
platform: Any CPU

# restore packages
before_build:
  - nuget-restore -verbosity detailed

artifacts:
  - path: SimpleApp\bin\Debug

on_failure:
- ps: Get-EventLog AppVeyor -newest 10 | Format-List
